/*
 * Sansation - freeware font family
 * Version 1.31
 * Bernd Montag © 2011 - All Rights Reserved
 */

@font-face {
  font-family: "Sansation";
  src: url("sansation_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("sansation_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("sansation_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("sansation_bold_italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
